.feature {
    width: 100%;
    height: 600px;


    img {
        width: 100%;
        object-fit: contain;
        position: relative;
    }

    h2 {
        font-size: 40px;
        color: white;
        font-weight: 300;
    }

    .feature-title {
        position: absolute;
        width: 50vw;
        top: 30%;
        left: 10px;
    }

    h4 {
        font-size: 20px;
        color: white;
        font-weight: 100;
    }

    .feature-overview {
        position: absolute;
        width: 50%;
        height: 20%;
        overflow: auto;
        top: 50%;
        left: 10px;
    }
}

